/node_modules

/public/uploads/attachfiles/*
/public/uploads/drivers/*
/public/uploads/vehicles/*
/public/uploads/*
/public/uploads/Thumbs.db

/storage/*.key
/vendor
/.idea
/.vagrant

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/js/env.js
.env
