body {
    padding-right: 0px; 
    padding-left: 0px; 
    padding-bottom: 0px; 
    margin: 0px; 
    padding-top: 0px;
    background-color: #ffffff;
    height: 842px;
}
a:link {
    color: #0000ff; 
    text-decoration: none
}
a:visited {
    color: #005ca2; 
    text-decoration: none
}
a:active {
    color: #0099ff; 
    text-decoration: underline
}
a:hover {
    color: #0099ff; 
    text-decoration: underline
}
@media Print {
    div.page {
        margin: 0px; 
        height: 100%;
        page-break-before: always;
    }

    body {
        -webkit-print-color-adjust: exact;
    }
}
.UnderLine {
    font-weight: normal;
    margin: 1px;
    color: #0000ff;
    border-top-style: none;
    border-bottom: black 1px dotted;
    font-family: "TH SarabunPSK";
    border-right-style: none;
    border-left-style: none;
    height: 18px;
    text-align: center
}
.UnderLineLeft {
    font-weight: normal; 
    margin: 1px; 
    color: #0000ff; 
    border-top-style: none; 
    border-bottom: black 1px dashed; 
    font-family: "TH SarabunPSK"; 
    border-right-style: none; 
    border-left-style: none; 
    height: 18px; 
    text-align: left
}
.formthaitext {
    font-weight: bold; 
    font-size: 15px; 
    color: #000000; 
    font-family: "TH SarabunPSK";
}
.textform {
    font-size: 11px; 
    color: #000000; 
    font-family: Verdana
}
.thaitext {
    font-size: 13px; 
    color: #000000; 
    font-family: "TH SarabunPSK";
}
.thaitext_small {
    font-size: 10px; 
    color: #000000; 
    font-family: "TH SarabunPSK";
}
.headthaitext {
    font-size: 15px; 
    color: #000000; 
    font-family: "TH SarabunPSK";
}
.CordiaUPC {
    font-size: 12px; 
    color: #000000; 
    font-family: "TH SarabunPSK";
}
.buntuekkorkuam {
    font-size: 29pt; 
    color: #000000; 
    font-family: "TH SarabunPSK"; 
    font-weight:bold;  
    margin-left: -100px;
}
.txt-content {
    font-size: 16pt; 
    color: #000000; 
    font-family: "TH SarabunPSK";
}
.trh1 {
    height: 30px;
}
.trh0 {
    height: 5px;
}
p {
    font-size: 16pt; 
    color: #000000; 
    font-family: "TH SarabunPSK"; 
    font-weight: normal;
}
.p16 {
    font-size: 16pt; 
    color: #000000; 
    font-family: "TH SarabunPSK"; 
    font-weight: bold;
}
.p18 {
    font-size: 18pt; 
    color: #000000; 
    font-family: "TH SarabunPSK"; 
    font-weight: bold;
}
.p20 {
    font-size: 20pt; 
    color: #000000; 
    font-family: "TH SarabunPSK"; 
    font-weight: bold;
}
.formnumber {
    font-size: 11pt; 
    color: #000000; 
    font-family: "TH SarabunPSK"; 
    font-weight: bold;
    text-align: center;
    border: 1px solid #000000;
    padding: 0 5 0 5px;
}
.indent {
    margin-left: 94px;
}
.indent2 {
    margin-left: 30px;
}
.hasborder { 
    border:1px solid #F00;  
}
.table {
    border: 1px solid #000000;
    border-collapse: collapse;
}

p.MsoNormal, li.MsoNormal, div.MsoNormal,span.MsoNormal {
    border-bottom: 1px dashed #000000;
    margin-top:0cm;
    margin-right:0cm;
    margin-bottom:10.0pt;
    margin-left:0cm;
    line-height:115%;
    font-size:16pt;
    font-family:"TH SarabunPSK";
}
.UnderlineTagp {
    border-bottom: 1px dashed #000000; 
    padding: 0px; 
    margin:0px;
    height: 20px
}

.datatable {
    border-collapse: collapse; 
    border: 1px solid black;
    font-family:"TH SarabunPSK";
    font-size:16pt;
}